// ANCHOR - Shared application classes

.ds-app {
  &-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    margin: 0;
    width: 100%;
    height: 100%;

    background-image: url("../images/img_background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    overflow: hidden;
  }
}

// ANCHOR - Shared list classes

.ds-gap {
  &-col {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-double {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-row {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &-double {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// ANCHOR - Shared flex classes

%ds-flex-shared {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

%ds-flex-row-shared {
  @extend %ds-flex-shared;

  flex-direction: row;
}

%ds-flex-col-shared {
  @extend %ds-flex-shared;

  flex-direction: column;
}

.ds-flex {
  &-stretch {
    align-items: stretch;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-row {
    &-start {
      @extend %ds-flex-row-shared;

      justify-content: start;
    }

    &-center {
      @extend %ds-flex-row-shared;

      justify-content: center;
    }

    &-end {
      @extend %ds-flex-row-shared;

      justify-content: end;
    }

    &-between {
      @extend %ds-flex-row-shared;

      justify-content: space-between;
    }

    &-around {
      @extend %ds-flex-row-shared;

      justify-content: space-around;
    }

    &-even {
      @extend %ds-flex-row-shared;

      justify-content: space-evenly;
    }
  }

  &-col {
    &-start {
      @extend %ds-flex-col-shared;

      justify-content: start;
    }

    &-center {
      @extend %ds-flex-col-shared;

      justify-content: center;
    }

    &-end {
      @extend %ds-flex-col-shared;

      justify-content: end;
    }

    &-between {
      @extend %ds-flex-col-shared;

      justify-content: space-between;
    }

    &-around {
      @extend %ds-flex-col-shared;

      justify-content: space-around;
    }

    &-even {
      @extend %ds-flex-col-shared;

      justify-content: space-evenly;
    }
  }
}

// ANCHOR - Shared text classes

%ds-text-shared {
  font-family: "Barlow";
  font-style: normal;
  align-items: center;
}

.ds-text {
  &-title {
    @extend %ds-text-shared;

    font-size: 3rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
  }

  &-header {
    @extend %ds-text-shared;

    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-subtitle {
    @extend %ds-text-shared;

    color: $color-dark-sub;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &-body {
    @extend %ds-text-shared;

    font-size: 1.25rem;
    font-weight: 500;
  }

  &-body-small {
    @extend %ds-text-shared;

    font-size: 1.125rem;
    font-weight: 500;
  }

  &-content {
    @extend %ds-text-shared;

    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &-content--active {
    @extend %ds-text-shared;

    font-size: 1.25rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-transform: uppercase;
  }

  &-content-small {
    @extend %ds-text-shared;

    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &-content-small--active {
    @extend %ds-text-shared;

    font-size: 1.125rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}
